In [3]:
#variable is a temporary storage which can store data / values

student = "sam"

In [5]:
student = "matt"

In [6]:
student

'matt'

In [7]:
#data type 

# int, float, boolean, string, complex

In [8]:
a = 10
a

10

In [9]:
type(a)

int

In [10]:
a=3.1

In [11]:
a

3.1

In [12]:
type(a)

float

In [15]:
b = True
b

True

In [16]:
type(b)

bool

In [17]:
c = "Hello world!"

In [18]:
c

'Hello world!'

In [19]:
type(c)

str

In [24]:
g= 5+4j

In [25]:
type(g)

complex

##### operators

    1. arithmetic operators
    2. relational operators
    3. Logical operators

#### Arithmetic operators

In [35]:
# + (addition), -(substraction) , /(division) ,*(multiplication)

In [36]:
a = 10
b = 20

In [37]:
a,b

(10, 20)

In [38]:
a+b

30

In [39]:
b-a

10

In [40]:
a*b

200

In [41]:
a/b

0.5

#### Relational operators

In [34]:
# <(less than), >(greater than), ==(is equal to), != (not equal to)

In [42]:
a = 50 
b = 100

In [43]:
a < b

True

In [44]:
a > b

False

In [45]:
a == a

True

In [46]:
a == b

False

In [50]:
a != b

True

#### Logical operators

In [76]:
# &(and), |(or)

In [52]:
a = True
b = False

In [53]:
a & a

True

In [54]:
a & b

False

In [55]:
b & a

False

In [56]:
b & b

False

In [57]:
a | b

True

In [58]:
a | a

True

In [59]:
b | a

True

###### Example

in and & operator at least 1 false output comes false.

In [71]:
True and True

True

In [72]:
True and False

False

In [73]:
False and True

False

In [74]:
False and False

False

In [81]:
# In or atleast one true output is true remainig all false

In [77]:
True or False

True

In [78]:
True or True

True

In [79]:
False or False

False

In [80]:
False or True

True

#### Python tokens
smallest meaningfull component in a program
- keywords
- identifiers
- literals
- operators

In [ ]:
# operators already completed above

In [82]:
# Keywords

# keywords are special reserved words

True
def
class
None
False
and
as
continue
del
elif
Finally
For
From
Global
if
is
lambda
nonlocal
not
or
return
try
while
with
yield

In [83]:
# Identifiers

#identifiers are names used for variables, functions or objects

In [84]:
### Rules
 # no special character expect_(underscore)
 # identifiers are case sensitive
 # First letter cannot be a digit

In [92]:
Student = "martha" # capital S

In [93]:
student = "julie" # small s

In [94]:
student

'julie'

In [95]:
Student

'martha'

In [ ]:
### Literals

# literals are constants in python

In [96]:
a = "Hello world" # if a value is assigned it cannot change

### Strings

strings are sequence of characters enclosed within single quotes (' ') or double quotes (" ") or Triple quotes (''' ''')

In [117]:
a = 'aim'
a

'aim'

In [118]:
type(a)

str

In [119]:
b = "boy"
b

'boy'

In [114]:
c = '''
Long
Lines
can be executed


'''

In [116]:
c

'\nLong\nLines\ncan be executed\n\n\n'

### extracting individual characters

In [127]:
my_string = "my name is john"

In [130]:
my_string[0] #indexing

'm'

In [125]:
my_string[-1] # reverse indexing

'n'

In [123]:
my_string[0:2] # limited indexing

'my'

In [132]:
len(my_string) # find the length of a string data

15

In [133]:
my_string.lower() # changes all the string data into lower case

'my name is john'

In [143]:
my_string.upper()  # changes all the string data into upper case

'MY NAME IS JOHN'

In [137]:
my_string.replace('y','a') # replace the data

'ma name is john'

In [142]:
my_string.replace ('ma','My')

'my name is john'

In [140]:
new_string = "hello hello world"
new_string

'hello hello world'

In [141]:
new_string.count('hello')  # counting repeated data

2

In [144]:
s1 = "This is sparta!!!"  #finding the index of a data 
s1.find('sparta')

8

In [153]:
fruit = "President obama is the best, president of united states"  #splitting

fruit.split('e')

['Pr',
 'sid',
 'nt obama is th',
 ' b',
 'st, pr',
 'sid',
 'nt of unit',
 'd stat',
 's']

#### Data Structures

- Tuples ()  round brackets
- Dictionaries {}
- Sets {}
- Lists []

In [154]:
# tuples  (round brackets) 
#tuple is an ordered collection of elements enclosed within ()
#tuples are imutable (you can not change the exucuted data)
# tup = (1,'a',True)

In [157]:
tup = (1,'a',True, 35.0, 5j)
tup

(1, 'a', True, 35.0, 5j)

In [158]:
type(tup)

tuple

In [159]:
# Extracting individual elements in  tuple

tup

(1, 'a', True, 35.0, 5j)

In [160]:
tup[0]

1

In [161]:
tup[-1]

5j

In [163]:
tup[2]

True

In [168]:
tup[2:3]

(True,)

In [169]:
# Modifying a tuple does not support because its immutable

tup[2]='hello' #example

TypeError: 'tuple' object does not support item assignment

In [174]:
# tuple basic operations

#finding length of tuple
len(tup)

#concatenating tuple
tup1=(1,2,3)
tup2=(4,5,6)
tup1,tup2

((1, 2, 3), (4, 5, 6))

In [183]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [184]:
# repeating tuple elements

tup4 = ('sparta',300)
tup4*2

('sparta', 300, 'sparta', 300)

In [197]:
# repeating and concatenating

tup5 =('James',200)
tup6= (7,8,9)

print('3 times',tup5 *3 +  tup6 *2, '2 times')

3 times ('James', 200, 'James', 200, 'James', 200, 7, 8, 9, 7, 8, 9) 2 times

In [198]:
#minimum value find
min(tup6)

7

In [199]:
#maximum value find
max(tup6)

9

### List

list is an ordered collection of elements enclose with [ ] square brackets

lists are mutable (We can modify the values)

example: |1=[1,'a',True]

In [201]:
L1=[1,'a',True] # executed

In [202]:
L1

[1, 'a', True]

In [204]:
L1[1]=2 #changing the value of 'a'

In [205]:
L1

[1, 2, True]

In [206]:
type(L1) # find data type

list

In [207]:
L1[1] #indexing

2

In [214]:
L1[1:3]

[2, True]

In [215]:
L1[-1] #reverse indexing

True

In [216]:
L1

[1, 2, True]

In [217]:
L1.append(-87.99)  #to add end value

In [218]:
L1

[1, 2, True, -87.99]

In [219]:
L1.pop() #pop to remove end item

-87.99

In [229]:
L1.append(10)

In [230]:
L1

[True, 1, 2, 10]

In [233]:
#reversing element of a list
L1.reverse()
L1

[10, 2, 1, True]

In [234]:
#sorting list
L1.sort()
L1

[1, True, 2, 10]

In [235]:
#inserting element at a specified index
L1.insert(1,"Johnson")
L1

[1, 'Johnson', True, 2, 10]

In [236]:
L1.insert(1,'Rob')

In [237]:
L1

[1, 'Rob', 'Johnson', True, 2, 10]

In [239]:
L1.insert(2,'Priyanka')

In [241]:
L1

[1, 'Rob', 'Priyanka', 'Johnson', True, 2, 10]

In [242]:
a = [1,2,3,4,8,9,10]
a

[1, 2, 3, 4, 8, 9, 10]

In [244]:
a.insert(4,5)

In [245]:
a

[1, 2, 3, 4, 5, 8, 9, 10]

In [246]:
a.insert(5,(6,7))

In [247]:
a

[1, 2, 3, 4, 5, (6, 7), 8, 9, 10]

In [251]:
#concatenating list
a+L1

[1, 2, 3, 4, 5, (6, 7), 8, 9, 10, 1, 'Rob', 'Priyanka', 'Johnson', True, 2, 10]

In [252]:
# Repeating elements
print(a *3,end=" ")

[1, 2, 3, 4, 5, (6, 7), 8, 9, 10, 1, 2, 3, 4, 5, (6, 7), 8, 9, 10, 1, 2, 3, 4, 5, (6, 7), 8, 9, 10]

### Dictionary

Dictionary is an unordered collection of key-value pairs enclosed with { } curly brackets

Dictionary is mutable

example : Fruit = {'Apple":10,"Orange":20}

In [259]:
Fruit = {1:'orange',2:'apple',3:'Banana',4:'Guava'}

In [263]:
type(Fruit)

dict

In [260]:
Fruit.keys()

dict_keys([1, 2, 3, 4])

In [261]:
Fruit.values()

dict_values(['orange', 'apple', 'Banana', 'Guava'])

In [266]:
Fruit

{1: 'orange', 2: 'apple', 3: 'Banana', 4: 'Guava'}

In [269]:
#adding a new element
Fruit[5]="Grapes"
Fruit

{1: 'Peach', 2: 'apple', 3: 'Banana', 4: 'Guava', 5: 'Grapes'}

In [268]:
#changing an existing element
Fruit[1]='Peach'
Fruit

{1: 'Peach', 2: 'apple', 3: 'Banana', 4: 'Guava'}

In [272]:
# Update one dictionary elements with another

choco1={'A':'silk','B':'kitkat'}
choco2={'C':'5-star','D':'munch'}

In [274]:
choco1.update(choco2) #merged both

choco1

{'A': 'silk', 'B': 'kitkat', 'C': '5-star', 'D': 'munch'}

In [275]:
#popping an element
choco1.pop('D')
choco1

{'A': 'silk', 'B': 'kitkat', 'C': '5-star'}

### Sets

Set is an unordered and unindexed collection of elements enclosed with { } curly brackets

Duplicates are not allowed in sets..

example : s1={1,'a',True}

In [277]:
s1 = {1,3.4,'sparta'}
s1

{1, 3.4, 'sparta'}

In [278]:
s1 = {1,3.4,'sparta',3.4,'sparta'}
s1 #you can see on the output (3.4,'sparta') is not repeated

{1, 3.4, 'sparta'}

In [279]:
# Update one dictionary's elements with another
s1.add('Hello')
s1

{1, 3.4, 'Hello', 'sparta'}

In [280]:
s1.add('Amla')
s1 #its automatically sorting the data

{1, 3.4, 'Amla', 'Hello', 'sparta'}

In [282]:
# updating multiple elements

s1.update([30,20,10])
s1

{1, 10, 20, 3.4, 30, 'Amla', 'Hello', 'sparta'}

In [283]:
# Removing an element
s1.remove('sparta')
s1

{1, 10, 20, 3.4, 30, 'Amla', 'Hello'}

In [286]:
s2 = {7,8,9,10}
s2

{7, 8, 9, 10}

In [289]:
# union of 2 sets  (to join or merge 2 sets)
s1.union(s2)

{1, 10, 20, 3.4, 30, 7, 8, 9, 'Amla', 'Hello'}

In [290]:
# Intersection of 2 sets ( to find the common elements in data)
s1.intersection(s2)

{10}

### If Statement

Example 1:

if - it's raining: Sit inside
else - go out and play football

Example 2: 

If - marks >70:  get Ice-cream
else - give practice test

##### if...else seudo code (blue print)

if(condition){
statements to be executed...
}

else{
statements to be executed...
}

In [291]:
a = 10
b = 20

In [292]:
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [294]:
if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [295]:
a=10
b=20
c=30

In [297]:
if (a>b) &(a>c):
    print("A is the greatest")
    
elif (b>a) & (b>c):
    print("B is the greatest")
    
else:
    print("C is the greatest")

C is the greatest

In [300]:
#if with tuple

tup1 = ('a','b','c')

In [301]:
if 'z' in tup1:
    print("Value a is present in tup1")
else:
    print("Value z is not present in tup1")

Value z is not present in tup1

In [303]:
# if with list

L1

[1, 'Rob', 'Priyanka', 'Johnson', True, 2, 10]

In [304]:
if L1[1]=="Rob":
    L1[1]='Big Robert'

In [305]:
L1

[1, 'Big Robert', 'Priyanka', 'Johnson', True, 2, 10]

In [306]:
# if with dictionary
d1 = {'k1':10, 'k2':20, 'k3':30}
d1

{'k1': 10, 'k2': 20, 'k3': 30}

In [309]:
if d1['k3'] == 30:
    d1['k3'] =d1['k3']=100

In [310]:
d1

{'k1': 10, 'k2': 20, 'k3': 100}

### Looping statements

Looping statements are used to repeat a task multiple times.

Example 1:
Keep filling this bucket with a mug of water while it is not full.

Example 2: 
Play the song repeatly till you close the app.

Example 3:
Get your salary credited at the end of each month!

- 1. While loop

    -It test the condition and it go through it. it the condition is false it will come out from the loop.

In [314]:
i = 1
while i <=10:
    print(i)
    i=i+1   
    
# it tests i=1 is smaller than 10
# if its true it enters into the statement.
#then it prints i
#finaly, i = i+ 1 is caliculated. 
# Then i =1 +1 = 2 
# Then i =2 +1 = 3
# Then i =4 +1 = 4 it runs till 10

1
2
3
4
5
6
7
8
9
10

In [318]:
# making 2 table using while loop

i = 1

n = 2

while i<=10:
    print(n,' x ',i,' = ',n*i)
#    i=i+1

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [356]:
#find the table with input number. Method(using function + while loop)

def table(n):
    
    i = 1
    n = int(input("Enter a Number to get table: "))
    
    while i<=10:
        print(n,' x ',i,' = ',n*i)
        i=i+1

In [357]:
table(n)

Enter a Number to get table: 5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [358]:
#while loop with list
l1=[1,2,3,4,5]
i = 0

In [359]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [360]:
l1

[101, 102, 103, 104, 105]

- 2. For loop

For loop is used to iterate over a sequence (tuple, list, dictionary..)

For loop syntax: for val in sequence: Body of for

In [363]:
l1= ['mango','apple','grapes','orange']

In [364]:
for i in l1:
    print(i)

mango
apple
grapes
orange

In [366]:
#nested for loop
l1 = ['orange','black','white']
l2 = ['chair','book','laptop']

In [367]:
for i in l1:
    for j  in l2:
        print(i,j)

orange chair
orange book
orange laptop
black chair
black book
black laptop
white chair
white book
white laptop

###  Functions in real life

- eating
- running 
- cycling

working multiple task at a time is function

##### Function is a block of code which performs a specific task.

Deposit -> Function to deposit money

witdraw -> Funciton to withdraw money

Balance -> Function to check balance

In [368]:
def hello():
    print('hello world')

In [369]:
hello()

hello world

In [370]:
def add_10(x):
    return x+10

In [371]:
add_10(9)

19

In [372]:
add_10(5)

15

In [379]:
def odd_even(v):
    if v%2==0:
        print(v, 'is even')
    else:
        print(v,'is odd')

In [380]:
odd_even(9)

9 is odd

In [399]:
g= lambda x: x*x*x

In [403]:
g(3)

27

In [405]:
#lambda with filter

In [409]:
l1 = [87,56,90,34,2,5,7,1,7,98] #list created

final_list=list(filter(lambda x:(x%2!=0), l1))
#finding odd number from list l1
# for filter we should use 2 functions 1 is lambda and another is list

In [410]:
final_list

[87, 5, 7, 1, 7]

In [411]:
#Lambda with map function

In [412]:
l1 = [1,2,3,4,5,6,7,8]

In [430]:
list_final_new=list(map(lambda x: x*2, l1))

In [431]:
list_final_new

[2, 4, 6, 8, 10, 12, 14, 16]

In [432]:
from functools import reduce

In [433]:
sum=reduce(lambda x,y:x+y, l1)

In [434]:
sum

36

### Python object oriented programming

You are surrounded with objects!!

example: phone, dog, human

#### classes

Class is a template / blue print for real-world entities

Phone - -  > 1. properties and 2. behaviour

1. properties (color,cost, battery life)
2. behaviour (make calls, watch videos, play games)

#### class

class is a user-defined data-type

Mobile --> I'm user-defined data type

- int
- float
- bool
- str

Attritubes and methods:
    
    attributes : color, cost
    Methods : play game, Make call

##### Objetcs

objects are specific instances of a class

Phone --> apple, motorola, samsung

specific instances of mobilr data type:

Apple | Motorolo | Samsung

 A=10     M=20       S=30
 
Specific instances of integer data type

In [443]:
# creating the first class

class Phone: #phone class
    def make_call(self):
        print("making phone call")
        
    def play_game(self):
        print('playing game')

In [444]:
p1=Phone() #instantiating the p1 oibject

In [447]:
#invoking methods through object
p1.make_call()

making phone call

In [448]:
p1.play_game()

playing game

In [449]:
# adding parameters to the class

In [450]:
#setting and returning the attribute values

class Phone1:
    
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("Making phone call")
        
    def play_game(self):
        print("Playing game")

In [451]:
vol=Phone1()

In [456]:
vol.set_color('blue')

In [457]:
vol.set_cost(5000)

In [458]:
vol.show_color()

'blue'

In [459]:
vol.show_cost()

5000

In [460]:
vol.make_call()

Making phone call

In [461]:
vol.play_game()

Playing game

In [462]:
# Creating a class with constructor

class Employee:
    def __init__(self,name,age,salary,gender): # init method acts as the constructor
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    def employee_details(self):
        print('Name of employee is ', self.name)
        print('Age of employee is ', self.age)
        print('Salary of employee is ', self.salary)
        print('Gender of employee is ', self.gender)

In [467]:
e1 = Employee('Prem',29,85000,'Male')
#Instanting the "e1" object

In [468]:
#invoking the "employee_details" method

e1.employee_details()

Name of employee is  Prem
Age of employee is  29
Salary of employee is  85000
Gender of employee is  Male

In [470]:
e2=Employee('Nani',18,25000,'Male')

In [474]:
e2.employee_details()

Name of employee is  Nani
Age of employee is  18
Salary of employee is  25000
Gender of employee is  Male

##### Inheritance  in objects

with inheritance one class can derive the properties of another class

father , son --> Man inheriting features from his father

example: properties of father to son

In [475]:
#creating base or super class

class Vehicle:
    def __init__ (self,mileage, cost):
        self.mileage = mileage
        self.cost =cost
    
    def show_details(self):
        print("I am a Vehicle")
        print("Mileage of vehicle is", self.mileage)
        print("Cost of vehicle is", self.cost)

In [479]:
v3= Vehicle(18,98)

In [481]:
v3.show_details()

I am a Vehicle
Mileage of vehicle is 18
Cost of vehicle is 98

In [487]:
#child class creating

class Car(Vehicle):
    def show_car(self):
        print('I am a car')

In [488]:
c1= Car(50,150)

In [489]:
c1.show_details()

I am a Vehicle
Mileage of vehicle is 50
Cost of vehicle is 150

In [490]:
c1.show_car()

I am a car

In [491]:
# over-riding init method

In [498]:
class Car(Vehicle):
    def __init__ (self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
    def show_car_details(self):
        print("I am a car")
        print("Number of tyres are",self.tyres)
        print('Value of horse power is',self.hp)

In [499]:
c1=Car(20,12000,4,300)

In [500]:
c1.show_details()

I am a Vehicle
Mileage of vehicle is 20
Cost of vehicle is 12000

In [501]:
c1.show_car_details()

I am a car
Number of tyres are 4
Value of horse power is 300

In [502]:
# Types of inheritance

There are the types of inheritance in python...
- Single inheritance
- Multiple inheritance
- Multi-level inheritance
- Hybrid inheritance

1. Multiple inheritance

In multiple inheritance, the child inherits from more than 1 parent class

(parent 1 ---- parent 2) ----both----> child

In [503]:
#parent 1

class Parent1():
    def assign_string_one(self,str1):
        self.str1 = str1
    
    def show_string_one(self):
        return self.str1

In [504]:
#parent 2

class Parent2():
    def assign_string_two(self,str2):
        self.str2 = str2
    
    def show_string_two(self):
        return self.str2

In [505]:
#child

class Derived(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3 = str3
    
    def show_string_three(self):
        return self.str3

In [506]:
#Instantiating object of child class

d1 = Derived()

In [507]:
d1.assign_string_one("one")
d1.assign_string_two("two")
d1.assign_string_three("three")

In [508]:
#invoking methods

d1.show_string_one()

'one'

In [509]:
d1.show_string_two()

'two'

In [510]:
d1.show_string_three()

'three'

2. multi-level inheritance

In multi-level inheritance, we have parent, child, grand-child relationship

Parent ---> child ----> Grand-child

In [16]:
#Parent class

class Parent():
    def show_name(self,name):
        self.name = name       
        return self.name

In [17]:
# Child
class Child(Parent):
    def show_age(self,age):
        self.age = age
        return self.age

In [18]:
# Grand-child class

class Grandchild(Child):
    def show_gender(self,gender):
        self.gender = gender
        return self.gender

In [19]:
gc = Grandchild()

In [23]:
gc.show_gender("Male")

'Male'

In [24]:
gc.show_age(21)

21

In [25]:
gc.show_name("Sagar")

'Sagar'

## Libraries in python

Python library is a collection of functions and methods that allow you to perform many actions without writing your code.


- NumPy
- Pandas
- matplotlib
- & many more...

#### NumPy Library

NumPy stands for numeric python and is the core library for numeric and scientific computing

It consists of multi-dimensional array objects and a collection of routines for processing those arays