# Product Discount

In [53]:

product = int(input("Please enter the price of the product: "))
discount = float(input("Discount value % : "))
converting_decimal = (discount/100 )
formula = product * converting_decimal
print( "Pay: ",product-formula)

Please enter the price of the product: 59000
discount value % : 10
Pay:  53100.0

# EMI Converting

In [21]:
"""
p = principleAmount
r = RateOfIntrest
n = tenuret """

'\np = principleAmount\nr = RateOfIntrest\nn = tenuret '

In [25]:
"""loan amount = 1000000
intrest = 12%
tenure = 5 years"""

'loan amount = 1000000\nintrest = 12%\ntenure = 5 years'

In [41]:
intrestConversion = 12 / (100*12)
yearConversion = 5*12

In [42]:
intrestConversion

0.01

In [43]:
yearConversion

60